.activity-page {
    text-align: center;
}

.per-category {
    margin-top: 40px;
}

.record-nutrition {
    text-decoration: none;
    border: 2px solid black;
    text-align: center;
    align-self: center;
    padding: 15px;
}

.activity-page-title {
    background-color: rgba(140, 75, 210, 0.299);
    height: 10%;
    padding: 50px;
    margin-top: 0;
}